.hide{
  -webkit-transform:scale(0) !important;
  transform:scale(0) !important;
}

.shown{
  -webkit-transform:scale(1) !important;
  transform:scale(1) !important;
  display:inline !important;
}

.log-box{
    overflow: scroll;
    height: 150px;
}

* {
    font-size:20px;
}
h1 {
    font-size:30px;
}
h3 {
    font-size:24px;
}
